body{
    margin: 0;
    padding: 0;
    background: url(../images/home.jpg); 
    background-size:cover;
    background-position: center;
    font-family: sans-serif;
}
.loginbox{
    width: 320px;
    height: 450px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
} 
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    padding:15px;
    margin-top: 5px;
} 
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 10px;

}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}
.login-form {
  background-color: #eeeeee;
}

a {
  padding: 0px 5px;
  text-decoration: none;
}
.popup
{
     width: 320px;
    height: 450px;
    background: #000;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background:#fb2525;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
}
.popup input{
    width: 18rem;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    color: black;
    border: 1px solid black;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1rem;
}
.popup span{
    color:  #fa3b3b;
}

.popup h3{
    color: white;
    font-weight: bold;
    font-style: italic;
}

.div_action{
    display: flex;
    justify-content:space-between !important ;
    margin-top: 30px;
}
.username{
    margin-bottom: 5px;
}

.lost-pass:hover{
    color: #fa3b3b;
}


